.box {
    background-color: #8f977b;
    padding-top: 50px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 50px;
    position: absolute;
    top: 50px;
    right: 20px;
  }
  
  h1 {
    text-align: center;
    text-transform: uppercase;
    color: #EFE1CE;
  }
  
  p {
    text-indent: 50px;
    letter-spacing: 3px;
    text-align: left;
    color: #EFE1CE;
  }
  
  a {
    text-decoration: none;
    color: #008CBA;
  }
  
     
  
  
    
  
  }